In [16]:
# Sample student data below inserted in a list:
data = [50,50,47,97,49,3,53,42,26,74,82,62,37,15,70,27,36,35,48,52,63,64]

# Printing the data
print(data)

# Import NumPy
import numpy as np
# Converting 'data' into a NumPy Array
grades = np.array(data)

# Print grades
print(grades)

#To view the shape of the array
grades.shape

#Finding the array's mean
#print("Mean: ", grades.mean)

# Define an array of study hours
study_hours = [10.0,11.5,9.0,16.0,9.25,1.0,11.5,9.0,8.5,14.5,15.5,
               13.75,9.0,8.0,15.5,8.0,9.0,6.0,10.0,12.0,12.5,12.0]

# Define a 2D array
student_data = np.array([study_hours, grades])

#Display array
student_data

[50, 50, 47, 97, 49, 3, 53, 42, 26, 74, 82, 62, 37, 15, 70, 27, 36, 35, 48, 52, 63, 64]
[50 50 47 97 49  3 53 42 26 74 82 62 37 15 70 27 36 35 48 52 63 64]

array([[10.  , 11.5 ,  9.  , 16.  ,  9.25,  1.  , 11.5 ,  9.  ,  8.5 ,
        14.5 , 15.5 , 13.75,  9.  ,  8.  , 15.5 ,  8.  ,  9.  ,  6.  ,
        10.  , 12.  , 12.5 , 12.  ],
       [50.  , 50.  , 47.  , 97.  , 49.  ,  3.  , 53.  , 42.  , 26.  ,
        74.  , 82.  , 62.  , 37.  , 15.  , 70.  , 27.  , 36.  , 35.  ,
        48.  , 52.  , 63.  , 64.  ]])

In [8]:
# Displaying the first element of the first element in the array:
student_data[0][0]

10.0

In [15]:
# Getting mean value for each sub-arrray
avg_hours = student_data[0].mean()
avg_grades = student_data[1].mean()

# Printing
print("Average Study Hours: {:.2f}\nAverage Grades: {:.2f}".format(avg_hours, avg_grades))

Average Study Hours: 10.52
Average Grades: 49.18